
.container {
	position: fixed;
	top: 0px;
	width: 100%;	
	color: #DDDDDD;	
	background-color: #222222;
	border: none;
	opacity: 1;
	z-index: 900;
	min-width: 325px;
}

.site-header {

}

h1, h2, h3, h4, h5 {
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", 
	sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
	letter-spacing: 5px;
}

body {
	margin: 0px;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", 
	sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
}

.chat-detail {
	color: #777777;
}

.chat-box {
	z-index: 1;
	margin-top: 100px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	opacity: .75;
}

#title-container {
	padding: 0px;
	margin: 0px;
}

#title-head {
	padding: 0px;
	color: #6ECFF5;
	font-size: 40px;
	margin-right: 30px;
}

#login-modal {
	max-width: 300px;
}

#login-header {
	letter-spacing: 3px;
}

#login-button {
	width: 265;
}

#user-button {
	margin-left: 20px;
}

#user-modal {
	max-width: 325px;
}

.chat-input {
	margin-left: 20px;
}

.user-button-container {
	width: 100px;
}
